<div id="content">
  
<p>Если вам не чужд авантюризм, если вы не прочь уничтожить на своем пути пару-тройку врагов, чтобы снискать успех и богатство — добро пожаловать в мир игры "Star fighter the game".

Всё началось с того, что однажды в Галактике  появилась  новая раса,  подчинившая своей  воле  всех и вся. На каждой планете Федерации были построены опорные базы захватчиков,  а  некоторые  были превращены в бастионы. Над Палактикой опустилась тёмная непроглядная ночь рабства.      
Пока однажды не стало  ясно, что  существует очень мощное движение повстанцев.Несколько рас, объединив свои усилия,создали на  одной  из заброшенных окраинных планет свою повстанческую базу. На ней велись работы  по  созданию  звездолёта, способного противостоять  флоту захватчиков. Этот тип звездолётов  должен  был получить название "Liar".                                   
Работы  над Liar'ом велись в режиме полной секретности. Но всё тайное когда нибудь становится  явным.  Так  случилось и на этот раз.  Через обширную сеть лазутчиков и шпионов правительству тиранов стало
известно  о  секретной базе. Cамые элитарные подразделения звёздного флота были направлены на уничтожение базы. И они успешно  выполнили свое задание - планета превратилась  в  радиоактивную  расплавленную пустыню.                                  
Но,  карательная  экспедиция всё же несколько  запоздала - опытный корабль класса Liar  успел стартовать и отправиться в испытательный полет. Корабль был оснащен новыми  видами  вооружения и защиты. Кочено, это  тоже были всего лишь опытные образцы, но  от этого они не становились менее грозными.                                    
Liar-1  провел все испытания нового оборудования  и вернулся на базу. Но базы больше не было. И тогда,отчаившийся экипаж принял решение умереть или уничтожить флот и базы захватчиков.                       
  И  началась великая одиссея сверхмощного корабля-одиночки,  посмевшего  бросить вызов всему флоту.
Вы — один из космических рыцарей, которые бороздят просторы вселенной в поисках денег и славы. Неважно, есть ли у вас фамильный герб и оруженосец — главное, что у вас есть ваш боевой корабль, на котором вы сможете разведать глубины космоса и в бою добыть себе воинскую славу и богатство. 
Итак, в двухмерном ограниченном пространстве вам лицом к лицу предстоит столкнуться с целыми флотилиями враждебно настроенных к вам кораблей. Чем дальше вы будете устремляться в глубины космоса, тем более странные и опасные чудовища и инопланетные создания вам будут встречаться. Кто-то из них будет доставлять вам неудобства своей стрельбой, а кто-то будет опасно разлетаться осколками после того, как вы уничтожите его метким выстрелом.</p>


</div>