<div id="content">
  
<p>Все перечисленные на сайте методы ловли льва являются теоретическими 
  и базируются на вычислительных методах. Автор не гарантируют 
  вашей безопасности при их использовании и снимает с себя всякую 
  ответственность за результат. 
  Помните, лев это хищник и опасное животное!
  "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. Игровые сайты, не трудно догадаться из названия, что тематика этих сайтов посвящена видеоиграм. На таких сайтах посетитель может найти последние новости из мира игровой индустрии, узнать что выпуск очередной и долгожданной части игра, вновь переносится на неопределенный срок. Может почитать обзоры на вышедшие новинки, узнать положительные и провальные стороны игры, выбирая «Во что бы поиграть?». Лучшим показателем для сайта, любого сайта, является показатель посещаемости. Используя показатель Alexa Global Traffic Rank, который формирует глобальный рейтинг трафика исходя из показателей посещения и просмотра страниц на сайтах, за временной промежуток в последние три месяца. Этот показатель выдает показатель места как в глобальном, мировом рейтинге всех сайтов, так и показатель популярности сайта на территории конкретной страны.10-е место. Shara-games.ru с рейтингом популярности - 39,998, в рунете. Сайт http://shara-games.ru стремительно развивается, наполняется различным контентом связанным с тематикой видеоигр. Большое количество браузерным и онлайн играм, в которые можно поиграть прямо на сайте. Минимум рекламы, удобная навигация, интересные описания игр.

  9-е место. Bestgamer.ru, который имеет рейтинг посещаемости - 29,974. Удобный, легковесный сайт. Здесь можно найти последние новости касающиеся игрового мира. Почитать интересные рецензии к видеоиграм. Прохождения, чит-коды к множеству популярных, и не очень, новинкам игровой индустрии. Приятное общение на форуме, неадекватных людей мало.

  8-е место. Lki.ru c показателем 7,855.Официальный сайт журнала «Лучшие компьютерные игры». Сайт начал свою работу в 2003 году. На сайте сосредоточена основная информация о журнале, голосования и опросы, которые проводились на сайте, так или иначе, влияют на развитие самого журнала. К сожалению, информации о новых играх, на просторах сайта найти сложно, рецензии устаревшие, последние публикации еще 2011 года, складывается впечатление, что сайт забросили. Но как видно из показателя Alexa Global Traffic Rank, с посещением сайта все нормально, хотя возможно это фанаты проверяют, не умер ли сайт окончательно.</p>


</div>