<!DOCTYPE>
<head>
<title>main</title>
<meta charset="utf-8">

<link href="../../game/bootstrap-3.3.7-dist/css/bootstrap.min.css" rel="stylesheet">
<link href="stylesmain.css" rel="stylesheet" type="text/css" />
</head>
<body>


<div class="row">
  <div class="col-lg-1 col-md-2 col-sm-4 col-xs-6"></div>
  <div class="col-lg-1 col-md-2 col-sm-4 col-xs-6"></div>
  <div class="col-lg-1 col-md-2 col-sm-4 col-xs-6"></div>
  <div class="col-lg-1 col-md-2 col-sm-4 col-xs-6"></div>
  <div class="col-lg-1 col-md-2 col-sm-4 col-xs-6"></div>
  <div class="col-lg-1 col-md-2 col-sm-4 col-xs-6"></div>
  <div class="col-lg-1 col-md-2 col-sm-4 col-xs-6"></div>
  <div class="col-lg-1 col-md-2 col-sm-4 col-xs-6"></div>
  <div class="col-lg-1 col-md-2 col-sm-4 col-xs-6"></div>
  <div class="col-lg-1 col-md-2 col-sm-4 col-xs-6"></div>
  <div class="col-lg-1 col-md-2 col-sm-4 col-xs-6"></div>
  <div class="col-lg-1 col-md-2 col-sm-4 col-xs-6"></div>
</div>


<!-- header begins -->
<header>
      <nav class="navbar navbar-default">
          <div class="container">
            <div class="navbar-header">
              <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
              </button>
              <a class="navbar-brand" href="#">MY CABINET</a>
            </div>
          <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav navbar-right">
              <li><a href="#">MAIN</a></li>
              <li><a href="#">START GAME</a></li>
              <li><a href="#">ABOUT GAME</a></li>
            </ul>
          </div>
          </div>
          <div class="container-fluid"></div>
          <div class="row">
        <div class="col-md-3 col-sm-4 col-xs-6"></div>
        <div class="col-md-3 col-sm-4 col-xs-6"></div>
        <div class="col-md-3 col-sm-4 col-xs-6"></div>
        <div class="col-md-3 col-sm-4 col-xs-6"></div>
      </div>
        </nav>
</header>  
<!-- header ends -->

<!-- content begins -->       
<div id="content">

</div>
<!-- content ends --> 

<!-- footer begins -->
<footer>
  <div id="footer">
    <a href="">© 2018, Мовчанюк Дмитрий. Все права защищены.</a>
  </div>
</footer>
<!-- footer ends -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="../../game/bootstrap-3.3.7-dist/js/bootstrap.min.js"></script>
</body>
</html>
