
<% include headmain %>

<!-- header begins -->
<% include header %> 
<!-- header ends -->

<!-- content begins -->       
  <div id="content">

</div>
<!-- content ends --> 

<!-- footer begins -->
<% include footer %>
<!-- footer ends -->
