/*
Design by Metamorphosis Design
http://www.metamorphozis.com
Released for free under a Creative Commons Attribution 2.5 License
*/

*
{
border: 0;
margin: 0;
}

img
{
border: 0px;
}

body{

	font: 12px Arial, Helvetica, sans-serif;
	color: #ffffff;
	/*background: url(images/space.jpg) no-repeat;*/
	background-color: #272822;
	background-size: 100%;
	background-attachment: fixed;
	margin:0;
	padding:0;
	font-size:13px;
}

.bg_top { background: url(images/bg_top.gif) top repeat-x;}

	
#main {
	width: 958px;
	margin: 0px auto;
	background:url(images/main.jpg) right top no-repeat;}

#header { 
	height: 163px;
}

#logo {	
	padding: 33px 0px 0px 29px;
}


#logo a {
	text-decoration: none;
	font-size: 14px;
	font-weight:bold;
	color: #ffffff;
}
	
#logo H3 a{
	font-size: 12px;
	font-family: Arial, Helvetica, sans-serif;
	font-weight: bold;
	text-align: left;
}

#buttons{
	text-align:center;
	height: 55px;
	margin-left: 0px;
	padding-right: 30px;
	
}

#buttons a {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 18px;
	font-weight: 100;
	display: block;
	float: right;
	text-decoration: none;
	color: #000000;
	text-align: center;
	padding-top: 17px;
	height: 38px;
	width: 130px;
	background: url(images/but.gif) top repeat-x ;
}

.but {
			 
}


#buttons a:hover {
	text-decoration: none;
	background: none ;
	}	
	
.but_r { width: 2px;
		background: url(images/but_r.gif) left repeat-y;
		height: 55px;
		float:right;}

#content{
	background: #3B4774;
	padding: 0px 29px 0px 29px;
}


.top {
height: 254px;
padding-top: 29px;
background:url(images/top.jpg) 0px 29px no-repeat;}

.h_bg { border: 1px solid #94A5C1;
		background: #222C3B;
		width: 278px;
		height: 42px;}
		
.h_bg2 { border: 1px solid #94A5C1;
		background: #222C3B;
		width: 432px;
		height: 42px;
		padding-left: 20px;}


.img_h { margin: 7px 15px 0px 20px;
		float: left;}

.box_home { 
	float: left; 
	width: 280px;
	background: url(images/box_home.png) top repeat-x;
	}
	
.box_home_text {background: url(images/box_home_text.jpg) top repeat-x;
		padding: 10px 20px 0px 20px;}
	
.box_home_bg {
	padding: 0px 0px 0px 0px;
	border-bottom: 1px solid #94A5C1;
	}
	
.left { width: 454px;
	float: left;}

.right { width: 415px;
	float:right;}
	
.left_text { padding: 10px 20px 14px 20px;
			background:url(images/left_text.jpg) left top no-repeat; }


.float_left {float:left;}

.razd_v { background:url(images/i_razd.gif) left 15px repeat-x; 
			height: 30px;
			clear: both;}

#left{
	width: 265px;
	float: left;
	color:#000000;
	margin-left: 0px;
	padding: 0px 0px 0px 0px;
}

.img_l {	float:left;
		margin: 0px 10px 5px 0px;
}

.img_r {	float: right;
		margin: 0px 0px 0px 15px;
}


H1{
	font-family: Arial, Helvetica, sans-serif;
	font-size:18px;
	font-weight: 100;
	color: #ffffff;
	text-align: left;
	padding: 10px 0px 0px 0px;
	line-height: 20px;
}


H2{
	font-family: Arial, Helvetica, sans-serif;
	font-size:18px;
	font-weight: bold;
	color: #ffffff;
	text-align: left;
	padding: 0px 0px 0px 0px;
	line-height: 20px;
}

.read{
	display:block;
	float:right;
	height: 22px;
	width: 70px;
	text-align: center;
	padding: 3px 0px 0px 0px;
	text-decoration: underline;
	font-size:12px;
	color: #ffffff;
	font-weight: bold;
	background: url(images/read.png) left top no-repeat;
}

.read:hover {
	font-size:12px;
	text-decoration: none;
}

.span_dat {
	color: #002380;
	text-decoration: underline;}
	
	
#bottom {
	width: 100%;
	background: url(images/bottom_bot.gif) left bottom  no-repeat ;
	color:#ffffff;
	padding: 0px 0px 0px 0px;
}

#bottom h2{
	font-family: Arial, Helvetica, sans-serif;
	padding: 18px 0px 15px 0px;
	font-size: 18px;
	text-align: left;
	color: #ffffff;
	font-weight: 100;
	line-height: 20px;
}

.b_col1 {
	float: left;
	margin-left: 0px;
	width: 200px;
	padding: 0px 0px 0px 80px;
}
.b_col2 {
	float: left;
	margin-left: 30px;
	width: 240px;
	padding-left: 40px;
}

.b_col3 {
	float: left;
	margin-left: 30px;
	text-align: left;
	width: 210px;
	padding-left: 70px;
}

.col_bg { background: url(images/col_bg.gif) left top no-repeat;

 }

.b_col3 ul {
	list-style:none;
	padding: 0px 0px 0px 0px;}

.b_col3 li {
	padding: 8px 0px 2px 0px;
	background: none;
	}
	
.b_col3 li a {
	color:#ffffff;
	text-decoration: none;
	
}
.b_col3 li a:hover {
	text-decoration: underline;
}

.fu_i {
	padding: 0px 14px 0px 0px;
	vertical-align: middle ;
}



.spis {
	list-style:none;
	padding: 0px 0px 0px 0px;}

.spis li {
	padding: 8px 0px 0px 16px;
	background: url(images/fish2.gif) 0px 14px no-repeat;
	}
.spis a:hover {
	text-decoration:underline;
	}
	
.spis a {
	color:#ffffff;
	text-decoration:none;
	font-weight: 100;}
	
.lh { line-height: 25px;}

#footer{
	height: 60px;
	font-size: 10px;
	color: #ffffff;
	text-align: center;
	padding: 20px 0px 0px 0px;
	background: url(images/footer.jpg) 0px 15px no-repeat;
}

#footer a{
	color: #ffffff;
	font-size: 10px;
	text-decoration: none;
}

#footer a:hover{
	color: #ffffff;
	font-size: 10px;
	text-decoration: underline;
}


/*=================================*/
/* Nivo Slider Demo
/* November 2010
/* By: Gilbert Pellegrom
/* http://dev7studios.com
/*=================================*/


#slider-wrapper {
    background:url(images/top.jpg) no-repeat;
    width:980px;
    height: 246px;
    margin:0 auto;
}

#slider {
	position:relative;
    width: 899px;
    height: 225px;
	background:url(images/loading.gif) no-repeat 50% 50%;
}
#slider img {
	position:absolute;
	top:0px;
	left:0px;
	display:none;
}
#slider a {
	border:0;
	display:block;
}

.nivo-controlNav {
	position:absolute;
	left:260px;
	bottom:-42px;
	display: none;
}
.nivo-controlNav a {
	display:block;
	width:22px;
	height:22px;
	background:url(images/bullets.png) no-repeat;
	text-indent:-9999px;
	border:0;
	margin-right:3px;
	float:left;
}
.nivo-controlNav a.active {
	background-position:0 -22px;
}

.nivo-directionNav a {
	display:block;
	width:30px;
	height:30px;
	background:url(images/arrows.png) no-repeat;
	text-indent:-9999px;
	border:0;
}
a.nivo-nextNav {
	background-position:-30px 0;
	right:15px;
}
a.nivo-prevNav {
	left:15px;
}

.nivo-caption {
    text-shadow:none;
    font-family: Helvetica, Arial, sans-serif;
}
.nivo-caption a { 
    color:#efe9d1;
    text-decoration:underline;
}
