<div id="content">     
  <table class="table table-bordered table-hover">
    <thead>
      <tr>
        <th>№</th>
        <th>Nickname</th>
        <th>Password</th>
        <th>Email</th>
        <th>Save edits</th>
      </tr>
    </thead>
    <tbody>
     <% data.map((item)=>{ %>
      <tr>
        <th><%= item._id %></th>
        <td><%= item.nick %></td>
        <td><%= item.password %></td>
        <td><%= item.email %></td>
        <td>save</td>
      </tr>
      <% }); %>
    </tbody>    
  </table>
</div>