<div id="content">     
  <table class="table table-bordered table-hover">
    <thead>
      <tr>
        <th>№</th>
        <th>Nickname</th>
        <th>Password</th>
        <th>Email</th>
        <th>Save edits</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th></th>
        <td></td>
        <td></td>
        <td></td>
        <td>save</td>
      </tr>
    </tbody>    
  </table>
</div>