<form method="post">
<div id="content">     
  <table class="table table-bordered table-hover">
    <thead>
      <tr>
        <th>Nickname</th>
        <th>Password</th>
        <th>Email</th>
        <th>Save edits</th>
      </tr>
    </thead>
    <tbody>
    
      <tr>
        <td><input type="type" name="nick" value="<%=user.nick%>"></td>
        <td><input type="type" name="password" value="<%=user.password%>"></td>
        <td><input type="type" name="email" value="<%=user.email%>"></td>
        <td><button type="submit">save</button></td>
      </tr>
      
    </tbody>    
  </table>
</div>
</form>