

<!DOCTYPE>
<head>
<title><%= title%></title>
<meta charset="utf-8">

<link href="/bootstrap-3.3.7-dist/css/bootstrap.min.css" rel="stylesheet">
<link href="/css/styleadmin.css" rel="stylesheet" type="text/css" />
</head>
<body>


<!-- header begins -->

<!-- header ends -->

<!-- content begins --> 
 <% include contentedit %>
<!-- content ends --> 

<!-- footer begins -->

<!-- footer ends -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="/bootstrap-3.3.7-dist/js/bootstrap.min.js"></script>
</body>
</html>>