<!DOCTYPE>
<head>
<title>admin</title>
<meta charset="utf-8">

<link href="../../game/bootstrap-3.3.7-dist/css/bootstrap.min.css" rel="stylesheet">
<link href="style.css" rel="stylesheet" type="text/css" />
</head>
<body>


<div class="row">
  <div class="col-lg-1 col-md-2 col-sm-4 col-xs-6"></div>
  <div class="col-lg-1 col-md-2 col-sm-4 col-xs-6"></div>
  <div class="col-lg-1 col-md-2 col-sm-4 col-xs-6"></div>
  <div class="col-lg-1 col-md-2 col-sm-4 col-xs-6"></div>
  <div class="col-lg-1 col-md-2 col-sm-4 col-xs-6"></div>
  <div class="col-lg-1 col-md-2 col-sm-4 col-xs-6"></div>
  <div class="col-lg-1 col-md-2 col-sm-4 col-xs-6"></div>
  <div class="col-lg-1 col-md-2 col-sm-4 col-xs-6"></div>
  <div class="col-lg-1 col-md-2 col-sm-4 col-xs-6"></div>
  <div class="col-lg-1 col-md-2 col-sm-4 col-xs-6"></div>
  <div class="col-lg-1 col-md-2 col-sm-4 col-xs-6"></div>
  <div class="col-lg-1 col-md-2 col-sm-4 col-xs-6"></div>
</div>