body{
	background: #c7b39b url(../images/6dc04b1d.jpeg)no-repeat fixed center;
	background-size: 100% 100%;
	/*-webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;*/
}
button a{
 color: black;
}
button a:hover{
 color: black;
 text-decoration: none;
}
.form-horizontal{
  position: fixed;
  display: inline-block;
  float: none;
  width: 320px;
  vertical-align: middle;
  right: 30px;
  top: 20px;
  margin: 0 auto;
  color: black;
}
.form-group{
  height: 40px;
}
